/* Logo and title styling */

#header h1 {
  font-family: 'Orbitron', sans-serif;
  color: rgb(124, 126, 124);
  padding-left: 10px;
  font-size: 25px;
}

#header img {
  width: auto;
  height: 30px;
  filter: drop-shadow(1px 1px 7px rgb(64, 248, 18));
  opacity: 0.7;
  }

#header {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

@media screen and (max-width: 420px) {
  #header h1 {
    font-size: 7vw;
  }
}

/* Logo and title styling end */

/* Sliding text styling */

#scroll-container {
  border-radius: 5px;
  overflow: hidden;
  
}

#scroll-text a{
  font-family: sans-serif;
  color: rgb(63, 62, 62);
}
#scroll-text {
  text-align: right;
  

  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  
  -moz-animation: my-animation 20s linear infinite;
  -webkit-animation: my-animation 20s linear infinite;
  animation: my-animation 20s linear infinite;
  animation-direction: reverse;
}
/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(-100%); }
  to { -moz-transform: translateX(100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(100%); }
}
@keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
#scroll-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#scroll-text p, a{
  font-family: sans-serif;
  font-size: 15px;
  margin-right: 10px;
  white-space: nowrap;
}

#scroll-text i{
  color: orange;
}
 
#output {
margin-right: 10px;
color: rgb(56, 99, 216);
}

#output2 {
  margin-right: 10px;
  color: green;
  }

#output3 {
    margin-right: 10px;
    color: rgb(153, 101, 4);
    }

#data {
  display: none;
}
/* Sliding text styling end */

/* Twitter and adds styling */

.twitadds {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  gap: 20px;
}

.leftadds, .rightadds {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

.leftadds img, .rightadds img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");


[hidden] {
  display: none;
  /* visibility: hidden;
        opacity: 1; */
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

body h3 {
    text-align: center;
}

p {
  margin-bottom: 1rem;
}

#wrapper {
  display: flex;
  height: auto;
  margin: 0 auto;
}

#live-prices {
  display: flex;
  align-items: center;
  justify-content: center;
}

#live-prices img {
  width: 1.5rem;
}

#live-prices p{
  margin-left: 20px;
  margin-right: 20px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  
}

.grid-3-cols img {
  width: 1.5rem;
}
.grid-3-cols p {
  margin: 0;
  padding: 0;
  text-align: left;
}

.grid-3-cols a img {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#glossary {
  width: 50%;
  margin: auto;
}