#data {
  width: 400px;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
}

#header {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

#header img {
  width: auto;
  height: 6vw;
}

#header h1 {
  font-family: 'Orbitron', sans-serif;
  color: rgb(68, 62, 62);
  font-size: 4vw;
  padding-left: 10px;
}