body {
  padding: 0px;
  margin: 0px;
  font-size: 1.1em;
  text-align: center;
}

.nav {
  display: grid;
}

#dropdown {
  display: none;
  position: absolute;
  width: 50%;
  z-index: 1;
  text-align: center;
  right: 0;
  list-style: none;
  background-color: rgb(245, 244, 239);
}

#dropdown.active {
  display: block;
}

#dropdown li {
  padding: 10px 15px;
  text-align: left;
  text-shadow: 2px 2px 3px #fefffef5;
}

#menu {
  position: relative;
}

.name {
  margin: auto;
}

.name h1 i {
  color: rgb(125, 125, 224);
  text-shadow: 2px 2px 3px #18c509f5;
}

.name h1 {
  color: rgb(4, 4, 56);
  font-family:monospace;
  text-shadow: 2px 2px 3px #8e9c8ef5;
}

.hamburger {
  margin: auto;
  margin-right: 50px;
  color: rgb(133, 130, 130);
}