body {
  padding: 0px;
  margin: 0px;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

.nav {
  display: grid;
  grid-template-columns: 70% 30%;
}

.name {
  margin: auto;
}

.name h1 i {
  color: rgb(125, 125, 224);
  text-shadow: 2px 2px 3px #18c509f5;
}

.name h1 {
  color: rgb(4, 4, 56);
  font-family:monospace;
  text-shadow: 2px 2px 3px #8e9c8ef5;
}

.hamburger {
  margin: auto;
  margin-right: 30px;
  color: rgb(133, 130, 130);
}